################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/WebResourceCatch/bin/Debug
/.vs/WebResourceCatch/v14/.suo
/WebResourceCatch/obj/Debug
