################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
*.suo
/WebResourceCatch/bin/Debug
/WebResourceCatch/obj/Debug
